h1, h2, ul > li, figcaption {
    text-align: center;
}


body {
    width: auto;
    background-color: #8e2f43;
    color: black;
    font-family: 'Trade Winds';
}


li {
    list-style-position: inside;
}

div {
    background-color: #2d3039;

}

a {
    color: #2d3039;
}

img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
    height: auto;
}
